
body{
  background-color: #141414;
  color: #fff;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

img{
  width: 300px;
}